set_io clk J3 # Señal de reloj del hardware 12 MHz
set_io rst P48 # Botón físico de reset

## UART
# set_io ftdi_tx B12 # TX
# set_io rx_pin B10 # RX

## UART
 set_io ftdi_tx B12 # TX
 set_io rx_pin B10 # RX

#Pin de datos
set_io dht11_data 38 # D9