# Opciones de configuración para port--pin
# set_io [-nowarn] [-pullup yes|no] [-pullup_resistor 3P3K|6P8K|10K|100K] port pin

set_io clk 60 # Señal de reloj del hardware 25 MHz
set_io rst 49

## set_io -pullup yes a 52



# COMENTARIOS
# set_io port 56 # RED LED
set_io dht11_io 9
